:root {
    --border-radius: 0.25rem;
  
    --color-accent: hsl(0, 0%, 35%);
    --color-anchor: hsl(333, 84%, 60%);
    --color-anchor-focus: hsl(0, 0%, 100%);
    --color-background: hsl(7, 80%, 64%);
    --color-background-alt: hsl(7, 80%, 72%);
    --color-highlight: hsl(64, 92%, 52%);
    --color-os: hsl(195, 24%, 6%);
    --color-os-header: hsl(0, 0%, 100%);
    --color-os-close: hsl(4, 62%, 64%);
    --color-os-minimize: hsl(47, 66%, 59%);
    --color-os-fullscreen: hsl(98, 63%, 51%);
    --color-text: hsl(0, 0%, 80%);
    --color-warning: hsl(0, 75%, 62%);
  
    --font-main: "IBM Plex Mono", monospace;
    --font-system: "Helvetica Neue", sans-serif;
    --font-size: 1rem;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
  
    --height-header: 42px;
    --max-width-body: 1000px;
  
    --space-xxs: 0.125rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-base: 1rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    --space-xl: 2.5rem;
    --space-body: 5vmin;  
  }

  html {
      
    overflow: hidden;
    height: 85%;
    
    background: url(disc.png);
    background-size: cover;
    padding: var(--space-body);
    
  }
  header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    position: fixed;
    top: var(--space-body);
    margin: 0 auto;
    margin-left:  calc(var(--space-body) * 0.5) ;
    font-family: var(--font-system);
    font-size: 0.9rem;
    color: black;
    text-align: right;
    padding: var(--space-sm);
    width: calc(100% - var(--space-body) * 2);
    max-width: var(--max-width-body);
    height: var(--height-header);
}
  ​

  body {
     
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  
  body {
    position: relative;
    font-family: var(--font-main);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-os);
    margin: 0 auto;
    max-width: var(--max-width-body);
    height: 100%;
    border-top: var(--height-header) solid var(--color-os-header);
    border-radius: var(--border-radius);
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
                0 2px 4px rgba(0,0,0,0.1), 
                0 4px 8px rgba(0,0,0,0.1), 
                0 8px 16px rgba(0,0,0,0.1),
                0 16px 32px rgba(0,0,0,0.1), 
                0 32px 64px rgba(0,0,0,0.1);
            box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
                0 2px 4px rgba(0,0,0,0.1), 
                0 4px 8px rgba(0,0,0,0.1), 
                0 8px 16px rgba(0,0,0,0.1),
                0 16px 32px rgba(0,0,0,0.1), 
                0 32px 64px rgba(0,0,0,0.1);
  }

div.image2 {
       
    content:url(cmd.png);
    width: 25px;
    height: 25px;
    display: -webkit-box;
     display: -ms-flexbox;
    display: flex;
     -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
     -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: var(--space-body);
  margin: 0 auto;
  margin-left: calc(var(--space-body) * -0.15);
  font-family: var(--font-system);
  font-size: 0.9rem;
  text-align: center;
  padding: var(--space-sm);
 }

 main .container img{
    position: relative;
    top: 0.3rem;
}


